<footer class="page-footer">

  <div class="page-footer-owner">
    <div class="container">

      <div class="footer-grid">

        <!-- About us -->
        <div class="footer-column">
          <h2 class="footer-title">About us</h2>

          <ul class="footer-links">
            <li>
              <a href="{{ '/ja/about/site-policy/' | relative_url }}">
                サイトポリシー
              </a>
            </li>

            <li>
              <a href="{{ '/ja/about/terms/' | relative_url }}">
                サービス利用規約
              </a>
            </li>

            <li>
              <a href="{{ '/ja/about/privacy/' | relative_url }}">
                個人情報保護方針
              </a>
            </li>
          </ul>
        </div>


        <!-- 関連リンク -->
        <div class="footer-column footer-column-related">
          <h2 class="footer-title">関連リンク</h2>

          <ul class="footer-links">

            <li>
              <a href="https://github.com/OpenRTM/"
                 target="_blank"
                 rel="noopener">
                <strong>OpenRTM@GitHub</strong>
                <span>OpenRTM-aist GitHubサイト</span>
              </a>
            </li>

            <li>
              <a href="https://www.ros.org/"
                 target="_blank"
                 rel="noopener">
                <strong>ROS</strong>
                <span>Robot Operating System</span>
              </a>
            </li>

            <li>
              <a href="https://choreonoid.org/"
                 target="_blank"
                 rel="noopener">
                <strong>Choreonoid</strong>
                <span>モーションエディタ / シミュレータ</span>
              </a>
            </li>

            <li>
              <a href="#"
                 target="_blank"
                 rel="noopener">
                <strong>DAQ-Middleware</strong>
                <span>ネットワーク分散環境でデータ収集用ソフトウェアを容易に構築するためのソフトウェア・フレームワーク、産総研が提供するRTC集、東京オープンソースロボティクス協会</span>
              </a>
            </li>

          </ul>
        </div>


        <!-- Contact Us -->
        <div class="footer-column">
          <h2 class="footer-title">Contact Us</h2>

          <p class="footer-contact-text">
            OpenRTM-aistに関するお問い合わせ
          </p>

          <ul class="footer-links">
            <li>
              <a href="mailto:メールアドレス">
                メールでお問い合わせ
              </a>
            </li>

            <!-- フォームを作った場合 -->
            <!--
            <li>
              <a href="お問い合わせフォームURL"
                 target="_blank"
                 rel="noopener">
                お問い合わせフォーム
              </a>
            </li>
            -->
          </ul>

        </div>

      </div>

    </div>
  </div>


  <!-- Copyright -->
  <div class="page-footer-copyright">
    <div class="container text-center">

      <p>
        Copyright &copy;
        OpenRTM-aist,
        {{ "now" | date: "%Y" }}.
      </p>

    </div>
  </div>

</footer>
